

	.leftDiv
	{
		background-color: #efefef;
		color: #000;
		width: 55%;
		float: left;
        height:auto;
        border:solid black 1px;
	}
	.rightDiv
	{

		color: #000;
		width: 44%;
		float: left;
        height:16.5cm;
       border:solid black 1px;
	}			
